.navbar {
    background-image: linear-gradient(to right, #0e0d0e, rgb(235, 42, 35));
  }

  body{
    background: linear-gradient(to right, #da94832a, #fc947586);
  }

  .texto{
   text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0)
  }

    /* Calculadora */

  .button2{
   background-color: #222121;
   color: rgb(255, 255, 255);
   cursor: pointer;
   border-radius: 20px;
   border: none;
   padding: 8px 10px;
  }

  .button2:hover {
   background-color: #eb4242;
   }

   .fechas{
      padding: 4px 2px;
      text-align: center;
   }

  /* Carrusel 1 */
  #gallery {
   width: 70%;
   margin: auto;
   overflow: hidden;
}

.gallery-container {
   display: flex;
   transition: transform 0.9s ease-in-out;
  
}

.gallery-item {
   min-width: 90%;
   padding-left: 20px;
}

.gallery-item img {
   width: 80%;
}

.gallery-navigation {
   display: flex;
   justify-content: space-between;
   position: relative;
  
}

.nav-button {
   background-color: #222121;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   
}

.nav-button:hover {
   background-color: #eb4242;
}

/* carrusel 2 */
.carousel-container {
   width: 100%;
   overflow: hidden; 
   padding-top: 100px;
}

.carousel {
   width: 50%;
   display: flex;
   transition: transform 0.9s ease-in-out;
 
   
}

.carousel img {
   width: 25%;
   margin-right: 60px;
   border-radius: 50%; 
}

.gallery-navigation2 {
   display: flex;
   justify-content: center;
}

.nav-button2 {
   background-color: #222121;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   margin-right: 100px;
   margin-left: 100px;
   margin-top: 40px;
}

.nav-button2:hover{
   background-color: #eb4242;
}

/* Trivia*/

.question-container {
   width: 80%;
   margin: 0 auto;
   text-align: center;
   padding-top: 50px;
 }

 .options {
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }

 .option {
   cursor: pointer;
   margin: 0 10px;
   background-color: #222121;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
 }

 .option:hover {
   background-color: #eb4242;
 }

 .result {
   margin-top: 20px;
 }