.navbar {
    background-image: linear-gradient(to right, #0e0d0e, rgb(235, 42, 35));
  }

  body{
    background: linear-gradient(to right, #da94832a, #fc947586);
  }

  .texto{
   text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0)
  }

  /* Carrusel 1 */
  #gallery {
   width: 70%;
   margin: auto;
   overflow: hidden;
}

.gallery-container {
   display: flex;
   transition: transform 0.5s ease-in-out;
  
}

.gallery-item {
   min-width: 90%;
   padding-left: 20px;
}

.gallery-item img {
   width: 80%;
}

.gallery-navigation {
   display: flex;
   justify-content: space-between;
   position: relative;
   top: -190px;
}

.nav-button {
   background-color: #df4722;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
}

.nav-button:hover {
background-color: #000000;
}

/* carrusel 2 */
.carousel-container {
   width: 100%;
   overflow: hidden; 
   padding-top: 100px;
}

.carousel {
   width: 50%;
   display: flex;
   transition: transform 0.9s ease-in-out;
   margin: auto;
   
}

.carousel img {
   width: 25%;
   margin-right: 60px;
   border-radius: 50%; 
}

.gallery-navigation2 {
   display: flex;
   justify-content: center;
}

.nav-button2 {
   background-color: #b1287c;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   margin-right: 100px;
   margin-left: 100px;
}

/* Trivia*/

.question-container {
   width: 80%;
   margin: 0 auto;
   text-align: center;
   padding-top: 50px;
 }

 .options {
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }

 .option {
   cursor: pointer;
   margin: 0 10px;
   padding: 10px 20px;
   background-color: #f0f0f0;
   border: 1px solid #ccc;
   border-radius: 5px;
 }

 .option:hover {
   background-color: #e0e0e0;
 }

 .result {
   margin-top: 20px;
 }