.navbar {
    background-image: linear-gradient(to right, #0e0d0e, rgb(235, 42, 35));
  }

  body{
    background: linear-gradient(to right, #da94832a, #fc947586);
  }

  h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0)
  }
 

#gallery {
   width: 80%;
   margin: auto;
   overflow: hidden;
}

.gallery-container {
   display: flex;
   transition: transform 0.5s ease-in-out;
  
}

.gallery-item {
   min-width: 90%;
   padding-right: 30px;

}

.gallery-item img {
   width: 100%;

}

/* Navegación del Slider */
.gallery-navigation {
   display: flex;
   justify-content: space-between;
   position: relative;
   top: -150px;
}

.nav-button {
   background-color: #df4722;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
}

.nav-button:hover {
background-color: #000000;
}